* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: lightgreen;
}

header {
    display: inline;
}

header h1 {
    font-family: Lobster;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 60px;
    color: black;
}

/*Slider*/

slider {
    display: block;
    width: 70%;
    height: 450px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

slider>* {
    position: absolute;
    display: block;
    width: 100%;
    height: 91vh;
    background-color: #1f1f1f;
    overflow: hidden;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(../img/kabardesa.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(../img/ruangdesa.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url(../img/regulasidesa.png);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4) {
    animation-delay: 8s;
    background-image: url(../img/MediaDesa.jpg);
    background-size: cover;
    background-position: center;
}

slide h2 {
    display: inline-block;
    font-family: monospace;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0.5, 0.5);
    text-align: center;
    margin-top: 368px;
    font-size: 30px;
    font-weight: lighter;
}

slide p {
    display: inline-block;
    font-family: monospace;
    background-color: rgba(0, 0, 0.5, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
    padding-top: 5px;
    padding-bottom: 15px;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }

    5% {
        left: 0%
    }

    25% {
        left: 0%;
    }

    30% {
        left: -100%;
        width: 100%;
    }

    30.0001% {
        left: -100%;
        width: 0%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

li {
    display: inline-block;
    font-size: 20px;
    padding-left: 40px;
    text-align: center;
    word-spacing: 3px;
}

nav {
    text-align: center;
    font-family: monospace;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(10, 235, 77, 0.7);
    width: 100%;
    z-index: 1;

}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black;

}

nav ul li a:hover {
    transition: 0.5s;
    background-color: black;
    color: chartreuse;
    padding: 5px 20px;
    border-radius: 20px;
}

main {
    overflow: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.5, 0.5);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

#content {
    float: left;
    width: 70%;
    position: relative;
    padding: 30px;

}

#content h2 {
    font-size: 30px;
    font-family: Lobster;
    padding: 20px 0px;
}

#content p {
    text-align: justify;
    padding-top: 10px;
    line-height: 30px;
    font-size: 20px;
}

section h3 {
    font-size: 20px;
    font-family: Lobster;
    padding: 20px 0px;
}

aside {
    float: right;
    width: 30%;
    padding-top: 30px;
    padding-right: 30px;
}

aside h3 {
    font-size: 30px;
    font-family: Lobster;
    padding: 20px 0px;
}

aside p {
    text-align: justify;
    padding-top: 10px;
    line-height: 30px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {

    #content,
    aside {
        width: 100%;
        padding: 20px;

    }

    li {
        padding: 0;
    }

    nav ul li a {
        background-color: lightgreen;
        color: black;
        padding: 3px 10px;
        border-radius: 10px;
        font-size: 16px;
    }

    nav ul li a:hover {
        transition: 0.5s;
        background-color: black;
        color: chartreuse;
        padding: 3px 10px;
        border-radius: 10px;
    }

    slide h2 {
        margin-top: 300px;
    }

}

/* ganti bacground */
.bg {
    font-family: monospace;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 20px;
}

#aburokok {
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
}

#hijaumuda {
    width: 20px;
    height: 20px;
    background-color: lightgreen;

}

#merah {
    width: 20px;
    height: 20px;
    background-color: rgb(180, 121, 121);

}

.aburokok {
    background-color: whitesmoke;
}

.merah {
    background-color: rgb(180, 121, 121);
}

footer {
    background-color: lime;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}